@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    background-color: rgb(132, 186, 153);
}

h1 {
    font-size: 300%;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 10px;
    font-family: "Nunito", sans-serif;
}

ul {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid;
    width: 1000px;
}

ul a {
    color: black;
    font-size: 150%;
    line-height: 50px;
    font-family: "Nunito", sans-serif;
}
