@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    background-color: rgb(91, 160, 171);
}

h1 {
    font-size: 300%;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 10px;
    font-family: "Nunito", sans-serif;
}

input {
    justify-content: center;
    align-items: center;
    position: absolute;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
}

.container ul {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    border: solid;
    border-radius: 40px;
    width: 300px;
    background-color: rgba(0,0,0,0.2);
}

.container ul a {
    color: black;
    font-size: 150%;
    line-height: 50px;
    font-family: "Nunito", sans-serif;
}
